<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
			<key>footerText</key>
			<string>Solid Color will be used if both solid and gradient color are activated</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable For Background</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableBackgroundColor</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Solid Color</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use Solid Color</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>backgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customBackgroundColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient Colors</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use Gradient</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>gradientBackgroundColor</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSGradientDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldy</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>key</key>
			<string>customGradientBackgroundColor</string>
			<key>label</key>
			<string>Gradient</string>
			<key>fallback</key>
			<string>51e8b6,32fcba</string>
			<key>alpha</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Vertical Gradient</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>verticalGradient</string>
		</dict>
		<!--Folder bg coloring-->
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
			<key>footerText</key>
			<string>The color might change if you use Noctis</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable For Folder</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableFolderBackgroundColor</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Solid Color</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use a Solid Color</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>folderBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customFolderBackgroundColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient Colors</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use a Gradient</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>gradientFolderBackgroundColor</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSGradientDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldy</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>key</key>
			<string>customGradientFolderBackgroundColor</string>
			<key>label</key>
			<string>Gradient</string>
			<key>fallback</key>
			<string>51e8b6,32fcba</string>
			<key>alpha</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Vertical Gradient</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>verticalFolderGradient</string>
		</dict>
    </array>
	<key>title</key>
	<string>Background Color</string>
</dict>
</plist>