<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Icons may overlap, fix that by changing rows and columns</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableCustomFrame</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
			<string>Full Size Folder</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>fullSizeFolder</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Completely Custom Frame</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>completelyCustomFrame</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Left</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>completelyCustomFrameLeft</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Top</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>completelyCustomFrameTop</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Width</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>completelyCustomFrameWidth</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Height</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>completelyCustomFrameHeight</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict> 
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Title might act weird, I suggest you to disable it</string>
        </dict>
        <dict>
            <key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Centered Custom Frame</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>centeredCustomFrame</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Width</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>centeredCustomFrameWidth</string>
            <key>isNumeric</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Height</string>
            <key>defaults</key>
            <string>com.thomz.foldy</string>
            <key>key</key>
            <string>centeredCustomFrameHeight</string>
            <key>isNumeric</key>
            <true/>
        </dict>
    </array>
	<key>title</key>
	<string>Custom Frame</string>
</dict>
</plist>