<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Premade layouts will be used if both options are activated</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableCustomLayout</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>2x2 will modify the folder icon in order to prevent the view to be laggy.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
			<string>Use Premade Layout</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableCustomPremadeLayout</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.thomz.foldyprefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>numberOfRowsColumns</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>2x2</string>
                <string>3x3</string>
                <string>4x4</string>
            </array>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
			<string>Use Custom Layout</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableCustomCustomLayout</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.thomz.foldyprefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>customLayoutRows</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.thomz.foldyprefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>customLayoutColumns</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>6</string>
                <string>7</string>
            </array>
        </dict>
    </array>
	<key>title</key>
	<string>Custom Layout</string>
</dict>
</plist>