<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>152</integer>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Folder modification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefsChanged</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>140</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customCornerRadius</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefsChanged</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Background Alpha</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>backgroundAlpha</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefsChanged</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customBackgroundAlpha</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefsChanged</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>TitleListController</string>
			<key>label</key>
			<string>Title Modification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BackgroundColorListController</string>
			<key>label</key>
			<string>Background Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FrameListController</string>
			<key>label</key>
			<string>Custom Frame</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LayoutListController</string>
			<key>label</key>
			<string>Custom Layout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Presets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Clear Mode</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>clearMode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
			<key>footerText</key>
			<string>This will hide both homescreen and folder dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Hide Page Dots</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>hidePageDots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thomz - Developement</string>
			<key>user</key>
			<string>Thomzi07</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thenatis - Icon and Banner design</string>
			<key>user</key>
			<string>thenatis1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Due to stability issues, every option require a respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to Respring ?</string>
				<key>title</key>
				<string>Respring</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>Restore Preferences and Respring</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to restore the preferences ?</string>
				<key>title</key>
				<string>Restore preferences</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>action</key>
			<string>resetPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Foldy</string>
</dict>
</plist>
