<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Title Font Size</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>titleFontSize</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customTitleFontSize</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Hide Title</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>hideTitle</string>
		</dict>
		<!--This makes my folder crash when i open it ?-->
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Bold Title</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>boldTitle</string>
		</dict>-->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Text Alignment</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.thomz.foldyprefs</string>
            <key>default</key>
            <string>1</string>
            <key>key</key>
            <string>titleTextAlignment</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
				<string>2</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>Left</string>
				<string>Center</string>
                <string>Right</string>
            </array>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Text Color</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Text Color</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>customTextColor</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Add a Background to the Title</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>enableBackgroundTitle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>colorBackgroundTitle</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/Foldy.bundle</string>
			<key>fallback</key>
			<string>51e8b6</string>
			<key>alpha</key>
			<true/>
			<key>label</key>
			<string>Color</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefs</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.foldyprefs</string>
			<key>key</key>
			<string>cornerRadiusBackgroundTitle</string>
			<key>PostNotification</key>
			<string>com.thomz.foldy.prefsChanged</string> 
		</dict>
    </array>
	<key>title</key>
	<string>Title Modification</string>
</dict>
</plist>